.suspension-contain {
    max-height: 980px;
    overflow: hidden;
    position: relative;
}

* {
    box-sizing: border-box;
}

html.suspended {
    background: rgba(0, 0, 0, 0.6);
}

body {
    max-width: 100%;
    min-width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-family: Montserrat
}

a {
    color: inherit;
    text-decoration: none
}

a:hover {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
    padding: 0;
    margin: 0;
}

.row {
    max-width: 1200px;
    margin: 0 auto
}

dd {
    margin: 0;
}

/******************************
            floats
******************************/

.fl {
    float: left;
}

.fr {
    float: right;
}

/******************************
            fotns
******************************/

@font-face {
    font-family: 'socialicoregular';
    src: url('fonts/socialico-webfont.eot');
    src: url('fonts/socialico-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/socialico-webfont.woff2') format('woff2'), url('fonts/socialico-webfont.woff') format('woff'), url('fonts/socialico-webfont.ttf') format('truetype'), url('fonts/socialico-webfont.svg#socialicoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'socialico_plusregular';
    src: url('fonts/socialico_plus-webfont.eot');
    src: url('fonts/socialico_plus-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/socialico_plus-webfont.woff2') format('woff2'), url('fonts/socialico_plus-webfont.woff') format('woff'), url('fonts/socialico_plus-webfont.ttf') format('truetype'), url('fonts/socialico_plus-webfont.svg#socialico_plusregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/******************************
          typography
******************************/

.text-primary {
    color: #B11414;
}

.text-bold {
    font-weight: 700;
}

.text-uppercase {
    text-transform: uppercase
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left;
}

/******************************
            button
******************************/

.btn {
    font-size: 12px;
    font-weight: 200;
    color: #fff;
    display: inline-block;
    padding: 10px 0;
    background: #FD1A22;
    border: 1px solid transparent;
    transition: all 0.5s ease;
    letter-spacing: 2px;
    width: 200px;
    text-align: center;
}

.btn:hover {
    background: #ddd;
    border-color: #ddd;
    color: #ddd;
    color: #fff;
}

/*clearings*/

.clear {
    clear: both;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}

.clearfix {
    display: block;
}

/******************************
     contact form messages
******************************/

form .messages p {
    display: none;
    font-family: Arial !important;
    font-weight: 400 !important;
    letter-spacing: 0 !important;
    font-size: 16px !important;
}

form .loading {
    display: none;
}

form .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

form .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

form .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

form [type="submit"] {
    margin: 20px auto
}

/******************************
         contact form
******************************/

.ctc-form {
    margin: 0 auto;
    text-align: center;
}

.ctc-form input[type="text"],
.ctc-form textarea {
    font-family: Arial;
    font-size: 16px;
    color: #000;
    height: 45px;
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 10px;
    box-sizing: border-box;
    margin: 0 auto 8px
}

.ctc-form textarea {
    height: 120px;
    padding-top: 10px;
}

.ctc-form button {
    display: block;
}

.ctc-form .recap {
    display: inline-block;
}

.ctc-form .g-recaptcha div {
    margin: 0 auto 10px;
}

.ctc-form .ctc-hide {
    display: none;
}

/******************************
            gallery
******************************/

#content .gallery-container {
    text-align: center;
}

#content .gallery {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#content .gallery li {
    display: inline-block;
}

#content .thumbnail {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    line-height: 1.42857;
    margin-bottom: 20px;
    padding: 4px;
    transition: border 0.2s ease-in-out 0s;
}

#content .page_navigation {
    display: inline-block;
}

#content .page_link,
#content .previous_link,
#content .next_link,
#content .first_link,
#content .last_link,
#content .ellipse {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #0275d8;
    display: inline-block;
    line-height: 1.25;
    margin-left: -1px;
    padding: 0.5rem 0.75rem;
    position: relative;
}

#content .page_navigation>a:hover,
.page_navigation>a.active_page {
    background-color: #eceeef;
    border-color: #ddd;
    color: #014c8c;
    text-decoration: none;
}

h1 {
    font-size: 100px;
    font-weight: 100;
    color: #fff;
}

h3 {
    font-size: 25px;
    font-weight: 400;
    color: #FD1920;
}

/******************************
            header
******************************/

#header {
    background: #fff;
}

#header-bot {
    background: #FD1A22;
}

nav {
    background: #FD1A22;
}

#header-bot nav a#pull {
    display: none
}

nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    /* border-left: 1px solid rgba(255, 255, 255, .2); */
    padding: 25px 0;
}

nav ul li:last-of-type {
    /* border-right: 1px solid rgba(255, 255, 255, .2); */
}

nav ul li a {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 2px;
}

nav ul li.active-menu a,
#header nav ul li a:hover {
    color: #fff;
}

#header .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#header .header-top-left {
    width: 30%;
}

#header .header-top-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    width: 60%;
}

#header .header-top-right p {
    font-size: 13px;
    color: #FD1A22;
}

#header .header-top-right span {
    display: block;
    color: #666666;
}

#header .header-top-right .contT span {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
}

#header .header-top-right .emailT span {
    font-size: 20px;
    font-weight: 400;
}

/******************************
            banner
******************************/

#banner {
    background: url(../images/common/banner.jpg) center top no-repeat;
    padding: 580px 0 20px;
    background-size: cover;
}

/******************************
            content
******************************/

#content0 {
    background: #fff;
}

#content0 .row {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 0;
    align-items: center;
    max-width: 1600px;
}

#content0 .content-left {
    text-align: left;
    width: 40%;
    padding-left: 12.5%;
}

#content0 h2 {
    font-size: 2em;
    letter-spacing: 2px;
    color: #FD1920;
    font-weight: 300;
}

#content0 h3 {
    font-size: 2.2em;
    letter-spacing: 2px;
    color:#FD1920;
    font-weight: 300;
}

#content0 h4 {
    color: #555555;
    font-weight: 400;
    letter-spacing: 1px;
}

#content0 p {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #525252;
    line-height: 2;
    width: 100%;
    max-width: 496px;
    padding-top: 20px;
}

#content0 .content-right {
    /* position: absolute; */
    width: 50%;
    /* top: 20px; */
    /* right: 0; */
    /* bottom: 20px; */
}

#content0 .content-right img {
    width: 100%;
    height: 100%;
}

/******************************
            content2
******************************/

#content2 {
    background: url(../images/common/evaluation.png) center top no-repeat;
    background-size: cover;
    padding: 80px 0;
}

#content2 h2 {
    font-size: 50px;
    color: #fff;
    text-align: left;
    font-weight: 200;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

#content2 .content2-bot {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#content2 .content2-bot dl {
    width: 20%;
}

#content2 .content2-bot dd {
    margin: 0;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 200;
    padding-top: 20px;
    line-height: 1.5;
}

#content2 .content2-bot dd span {
    display: block;
}

#content2 .content2-bot dt img {
    width: 100%;
}

/******************************
            content3
******************************/

#content3 {
    background: url(../images/common/team.png) top center no-repeat;
    background-size: 100%;
    padding: 450px 0 40px;
}

#content3 h2 {
    font-size: 50px;
    color: #555555;
    font-weight: 200;
}

#content3 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #535353;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 1px;
}

#content3 p span {
    display: block;
}

#content3 .content3-bot {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

#content3 .content3-bot dt {
    padding-bottom: 10px;
}

#content3 .content3-bot dd {
    line-height: 2;
}

#content3 .content3-bot dd p {
    margin: 0;
    color: #FD1A22;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

#content3 .content3-bot dd h4 {
    font-weight: 400;
    color: #444444;
    font-size: 18px;
    letter-spacing: 1px;
}

#content3 .content3-bot dd h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #545454;
    font-style: italic;
}

#content3 .content3-h2-bot {
    border: 2px solid #FD1A22;
    padding: 40px 0;
}

/******************************
            content4
******************************/

#content4 {
    background: url(../images/common/testimonials.jpg) right center no-repeat;
    background-size: 100% 100%;
    text-align: left;
    padding: 110px 0;
}

#content4 h2 {
    font-size: 50px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 2px;
}

#content4 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #fff;
    letter-spacing: 1px;
    line-height: 2;
    padding-top: 30px;
    margin: 0;
}

#content4 span {
    display: block;
}

#content4 .stars {
    font-size: 20px;
    letter-spacing: 3px;
}

/******************************
            content5
******************************/

#content5 {
    padding: 60px 0 0;
}

#content5 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #545454;
    line-height: 2;
    letter-spacing: 1px;
    padding: 30px 0;
}

#content5 span {
    display: block;
}

#content5 .content5-top {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#content5 .content5-top img {
    width: 24%;
    height: 100%;
}

#content5 .content5-bot {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 40px;
}

#content5 .content5-bot dl {
    width: 32%;
}

#content5 .content5-bot dd {
    color: #555555;
}

#content5 .content5-bot p {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 0;
}

#content5 .content5-bot h3 {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #545454;
}

#content5 .content5-bot h4 {
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 400;
}

#content5 .content5-bot h5 {
    font-size: 18px;
    font-weight: 400;
}

/******************************
            footer
******************************/

#footer {
    padding: 40px 0 0;
}

#footer p {
    color: #535353;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

#footer .silver img {
    display: inline-block;
    vertical-align: middle;
    max-width: 50px
}

/******************************
          inner pages
******************************/

.inner #content {
    min-height: 400px;
    padding: 40px 0
}

.inner #content h1 {
    color: #FD1920;
    margin-bottom: 30px;
}

.inner #content h2 {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-size: 35px;
}

.inner #content h3 {
    margin: 20px 0;
}

.inner #content p {
    font-size: 15px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    color: #525252;
    line-height: 2;
    width: 100%;
    padding-top: 20px;
}

.inner #content .reviews{
  border: 5px solid #FD1A22;
  border-radius: 10px;
  padding: 0;
  margin: 40px auto;
}

.inner #content .reviews h3{
  color: #fff;
  background-color:#FD1A22;
  margin: 0 auto;
  padding: 10px 0;
}

.inner #content .reviews h3 span{
  color:#ffd600;
}

.inner #content .reviews h4{
  color: #01018e;
  font-size: 25px;
  margin: 20px auto;
}

.inner #content .reviews p{
  padding: 0;
  max-width: 1000px;
  margin: 40px auto 0;
}

.inPrivacyBox {
    max-width: 850px;
    margin: 0 auto;
}

.inPrivacyBox p {
    text-align: justify !important;
}

.lead {
    font-size: 25px;
    font-weight: 700;
}

/******************************
          services page
******************************/

#services-page ul li {
    padding: 5px 0;
    font-family: Arial;
}

#services-page ul li a {
    color: #111;
}

#services-page ul li a:hover {
    font-weight: 400;
    color: rgb(241, 83, 89);
}

#services-page #services-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

#services-page #services-wrapper #services-navigation {
    width: 30%;
    text-align: right;
}

#services-page #services-wrapper #services-navigation ul {
    /* margin: 0; */
    /* padding: 0; */
    text-align: right;
    list-style: none;
}

#services-page #services-wrapper #services-navigation ul .ui-state-active {
    color: #FD1A22;
}

#services-page #services-wrapper #services-content {
    width: 65%;
    text-align: left;
}

#services-page .btt {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FD1A22;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9997;
}

/******************************
          RESPONSIVE
******************************/

.cta {
    display: none;
}

@media only screen and (max-width:1200px) {
    body {
        min-width: 320px;
    }
    .row,
    .inner #content .row,
    #content0 .row {
        max-width: 95%;
    }
    #content0 .content-left {
        padding-left: 0;
    }
    #content0 h2,
    #content0 h3 {
        font-size: 40px;
    }
}

/* @media only screen and (max-width: 1024px) {
} */

@media only screen and (max-width: 850px) {
    #header .header-top-left,
    #header .header-top-right {
        width: 100%;
    }
    #header .header-top-left {
        padding: 20px 0;
    }
    #header .header-top-right>div {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    #banner #banner-image {
        width: 100%;
    }
    #content0 .content-left,
    #content0 .content-right {
        width: 100%;
    }
    #content0 p {
        max-width: 100%;
    }
    #content2 .content2-bot dl {
        width: 49%;
    }
    #content3 {
        padding: 200px 0 40px;
    }
    #content4 {
        background-size: cover;
    }
    #content4 .row {
        padding: 30px;
        background-color: rgba(217, 0, 0, 0.7);
    }
    .cta {
        background: #FD1A22 url("../images/common/phonecall.png") no-repeat center center;
        border-bottom-left-radius: 40px;
        border-top: 2px solid #FD1A22;
        border-top-left-radius: 40px;
        bottom: 1%;
        display: block;
        height: 80px;
        position: fixed;
        right: 0;
        text-decoration: none;
        text-indent: -9999em;
        width: 100px;
        z-index: 999;
    }
}

@media only screen and (max-width: 600px) {
    #header #header-logo {
        width: 100%;
    }
    #header-bot nav a#pull {
        position: fixed;
        top: 10px;
        left: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #FD1A22;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }
    #header-bot nav ul {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: #FD1A22;
        padding-top: 70px;
        z-index: 9998;
    }
    #header-bot nav ul li {
        width: 100%;
        text-align: left;
        padding: 5px 20px;
    }
    #header-bot nav ul li.active-menu {
        border-left: 3px solid #fff;
    }
    #banner {
        background-size: 100%;
        padding: 20px 0 20px;
    }
    #content0 .content-left {
        text-align: center;
    }
    #content2 .content2-bot dl {
        width: 100%;
    }
    #content3 {
        padding: 100px 0;
    }
    #content5 .content5-top img {
        width: 100%;
        margin-bottom: 10px;
    }
    #content5 .content5-bot dl {
        width: 100%;
    }
    #content5 #footer-logo {
        width: 100%;
    }
    footer nav ul li {
        width: 100%;
        padding: 5px 0;
    }
    .inner #content h1 {
        font-size: 35px;
    }
    #services-page #services-wrapper #services-navigation,
    #services-page #services-wrapper #services-content {
        width: 100%;
        text-align: left;
    }
    #services-page #services-wrapper #services-navigation ul {
        text-align: left;
        padding: 0;
    }
}

@media only screen and (max-width: 320px) {
    #content3 .content3-bot dl {
        width: 100%;
    }
    #content4 h2 {
        font-size: 2rem;
    }
}
